.btn {
    background-color: white;
    color: black;
    border: solid black 1px;
    &:hover {
        background-color: darkgray;
        border: solid black 1px;
    }
}

.carousel-control {
    &:hover {
        background-color: darkgray;
    }
}
.card {
    margin-top: 20px;
    .card-body {
    background-image:$myform;
    color: white;
    min-height: 210px;
    }
    .card-text  {
        font-size: 18px;
        font-weight: 400;
        min-height: 100px;
        
    }
}

.linkr{
    &:hover {
        color: darkgray;
        
    }
}


