@import "partials";
@import "footer";
@import "form";
@import "boot";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    min-height: 100%;
    position: relative;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    margin-bottom: 40px;
}
main {
    @include size(100%, 100vh);
    background-image: $myfondo;
    background-size: cover;
    display: flex;
    overflow-y: scroll;
}
.flecha {
    @include size(40px, 40px);
        background-color: $blanco;
        border: 3px solid $negro;
        color: $negro;
        position: fixed;
        bottom: 20px;
        right: 20px;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
}
.nav-link {
    font-size: 24px;
}
.noticias {
    margin: auto;
    width: 1500px;
    margin-top: 20px;
    .card-img-top {
        max-height: 400px;
    }
}
.logo {
    width: 100px;
    height: 100px;
}
@import "mobil";
@import "desktop";
