@import "partials";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    min-height: 100%;
    position: relative;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    margin-bottom: 40px;
}
@mixin size($ancho,$alto) {
    height: $alto;
    width: $ancho;
}
footer {
    @include size(100%, 60px);
    left: 0;
    bottom: 0;
    background-size: cover;
    margin-right: 25px;
    //Black cat studios//
    p {
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        font-family: $font;
    }
    //como se orientan los links del footer//
    ul {
        text-align: center;
        font-size: 40px;
    }
    //como se ven los links del footer//
    a {
        color: #565A63;
        margin: 10px;
        }
   } 
main {
    @include size(100%, 100vh);
    background-image: $myfondo;
    background-size: cover;
    display: flex;
    overflow-y: scroll;
}

.flecha {
    @include size(40px, 40px);
        background-color: $blanco;
        border: 3px solid $negro;
        color: $negro;
        position: fixed;
        bottom: 20px;
        right: 20px;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
}
.nav-link {
    font-size: 24px;
}
.slide {
    margin: auto;
}
.noticias {
    margin: auto;
    width: 1500px;
    margin-top: 20px;
    .card-img-top {
        max-height: 400px;
    }
}
.display {
    display: flex;
    flex-wrap: wrap;
    width: 100%
}
form {
    @extend .nav-link;
    margin: auto;
    background-image: $myform;
    padding: 20px;
    font-weight: 600;
    color: $blanco;
    border-radius: 1%;
    min-width: 380px; 
        textarea {
           @extend .display;
            flex-shrink: 50%;
        }
        a {
            text-decoration: none;
            color: $blanco;
        } 
}

$base: $blanco;
$cards: (
    c1: $base,
    c2: darken($base, 2%),
    c3: darken($base, 5%),
    c4:darken($base, 8%),
    c5:darken($base, 10%),
    c6: darken($base, 20%),
);
@each $c, $col in $cards {
    .card--#{$c}{
      background-color: $col;
    }
}
//vista mobil//
@media only screen and (min-width:280px) and (max-width:991px) {
   //nav bar no se ve en vista mobil//
    .noham {
        display:none;
    }
    .displaym {
        display: flex;
        flex-wrap: wrap;
        width: 100%
    }
    //la pagina "sobre nosotros" se divide en izquierda y derecha//
    .nosotros {
        height: 100vh;
       @extend .displaym;
        background-image: $myfondo;
        //parte izquierda//
        .nleft {
            background-image: $myofi;
            background-size: cover;
            background-position: center;
            @extend .displaym;
        }
        //parte derecha//
        .nright{
            padding: 5px;
            @extend .displaym;
            p {
                font-size: 15px;
                margin-bottom: 0px;
               @extend .displaym;
            }
            h3 {
                text-align: center;
                padding-bottom: 0px;
                text-transform: capitalize;
            }
            //mas info//
            a {
                height: 50px;
                background-color: $blanco;
                color: $negro;
                padding: 10px 20px;
                text-decoration: none;
                font-family: $font;
                border-radius: 10px;
                border: 3px solid $negro;
                font-weight: 600;
                    &:hover{
                        background-color: $gris;
                        }
            }
            
        }
    }
    .juegos {
        display: none;
    }
    .mobil {
        max-width: 1500px;
        max-height: 1500px;
        margin: auto;
    }
}
@media only screen and (min-width:992px) {
   .hamburguesa {
       display: none;
   } 
   .displayd {
    display: flex;
    flex-wrap: wrap;
    width: 100%
}
   .juegos {
    max-width: 1500px;
    max-height: 1500px;
    margin: auto;
    margin-bottom: 20px;
   }
   .mobil {
       display: none;
   }
   form {
      min-width: 600px;
   }
   .nosotros {
      height: 600px;
     @extend .displayd;
      margin-top: 30px;
      .nleft {
          width: 50%;
          background-image: $myofi;
          background-size: cover;
          background-position: center;
      }
      .nright {
        width: 50%;
        padding: 20px;
        p{
            font-size: 25px;
            margin-bottom: 20px;
        }
        h3 {
            text-align: center;
            padding-bottom: 10px;
            text-transform: capitalize;
        }
        a {
            height: 50px;
            background-color: $blanco;
            color: $negro;
            padding: 10px 20px;
            text-decoration: none;
            font-family: $font;
            border-radius: 10px;
            border: 3px solid $negro;
            font-weight: 600;
            &:hover {
                background-color: $gris;
            }
        }
      }
  }
}